#controls {
  position: absolute;
  bottom: 0%;
  top: 60px;
  width: 500px;
  height: calc(100% - $top_nav_height);
  color: #c0c8d2;
  background-image: linear-gradient(rgba(65, 72, 82, 0.95), rgba(54, 62, 72, 0.95)); }
  #controls h1, #controls .alt-header {
    background: rgba(54, 62, 72, 0.12);
    height: 50px;
    margin: 0;
    text-align: left;
    color: white;
    line-height: 50px;
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 500; }
  #controls h1 {
    padding-left: 10px; }
  #controls .alt-header h1 {
    float: left;
    padding-left: 10px;
    padding-right: 300px; }
  #controls .alt-header a {
    text-decoration: none;
    margin-left: 10px;
    background: rgba(255, 255, 255, 0);
    float: left;
    position: relative;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px; }
    #controls .alt-header a:hover {
      background: rgba(255, 255, 255, 0.4); }
  #controls .panel {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    overflow: scroll; }
    #controls .panel .empty {
      text-align: center;
      font-weight: 300;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }

@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale(0.9, 0.9); }
  to {
    opacity: 1;
    transform: scale(1, 1); } }
#messages {
  height: 200px;
  width: 100%; }
  #messages .fadeAndScaleIn {
    animation-duration: .3s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(0.71, 0.55, 0.62, 1.57); }
  #messages .message {
    border-radius: 10px;
    padding: 8px;
    margin: 8px;
    color: white; }
    #messages .message h3 {
      font-size: 15px;
      font-weight: 600;
      margin: 0; }
    #messages .message p {
      margin: 0;
      font-weight: 300; }
    #messages .message .date {
      color: rgba(255, 255, 255, 0.6);
      font-weight: 200;
      font-size: 12px; }
  #messages .clickable {
    cursor: pointer; }
  #messages .high {
    background-image: linear-gradient(rgba(255, 47, 25, 0.8), rgba(255, 47, 25, 0.8)); }
  #messages .medium {
    background-image: linear-gradient(rgba(255, 184, 25, 0.8), rgba(255, 184, 25, 0.8)); }
  #messages .standard {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)); }
  #messages .success {
    background-image: linear-gradient(rgba(27, 198, 226, 0.8), rgba(27, 198, 226, 0.8)); }

#environmental-factors {
  height: 120px; }
  #environmental-factors .weather-overview {
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    width: 90px;
    height: 100%; }

#filter-group {
  font-weight: 600;
  width: 100%;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  height: 200px; }
  #filter-group :hover {
    color: white; }
  #filter-group .unit {
    font-weight: 300;
    font-size: 15px;
    float: left;
    width: 50%;
    height: 100px;
    outline: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    cursor: pointer;
    position: relative; }
    #filter-group .unit .button {
      position: absolute;
      top: 7px;
      right: 7px;
      height: 20px;
      width: 20px;
      line-height: 20px;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      font-size: 20px; }
      #filter-group .unit .button:hover {
        color: #FF2F19; }
    #filter-group .unit .info {
      float: left;
      width: 30%;
      height: 100%;
      text-align: center;
      text-transform: capitalize; }
      #filter-group .unit .info .unit-icon {
        float: left;
        font-size: 60px;
        width: 100%;
        height: 70%;
        line-height: 130%; }
      #filter-group .unit .info .unit-name {
        float: left;
        font-size: 13px;
        height: 30%;
        width: 100%;
        color: #1bc6e2;
        font-weight: 600; }
    #filter-group .unit .stats {
      float: left;
      width: 70%;
      height: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      #filter-group .unit .stats .stat {
        float: left;
        width: 100%;
        height: 20px; }
        #filter-group .unit .stats .stat .icon {
          float: left;
          width: 30px;
          height: 20px;
          line-height: 20px; }
        #filter-group .unit .stats .stat .text {
          float: left;
          height: 20px; }
        #filter-group .unit .stats .stat .warning {
          color: #FF2F19;
          font-weight: 600; }

#search-areas {
  width: 100%;
  height: 216px;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2); }
  #search-areas .search-area {
    font-weight: 300;
    width: 100%;
    height: 70px;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    position: relative; }
    #search-areas .search-area .header {
      font-weight: 600;
      float: left;
      width: 15%;
      height: 100%;
      background: rgba(255, 255, 255, 0.1);
      line-height: 100%;
      padding-top: 10px;
      font-size: 50px; }
    #search-areas .search-area .drone-assignment {
      float: left;
      width: 10%;
      height: 100%;
      line-height: 100%;
      font-size: 30px; }
      #search-areas .search-area .drone-assignment .arrow {
        float: left;
        width: 100%;
        height: 50%;
        font-size: 20px;
        line-height: 35px; }
    #search-areas .search-area .info {
      float: left;
      width: 65%;
      text-transform: capitalize;
      height: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      #search-areas .search-area .info .text {
        float: left;
        height: 100%;
        width: 100%;
        text-align: left;
        line-height: 20px; }
    #search-areas .search-area .controls {
      position: absolute;
      right: 0px;
      width: 10%;
      height: 70px;
      line-height: 70px;
      border-left: 1px solid rgba(255, 255, 255, 0.2); }
      #search-areas .search-area .controls .button {
        position: absolute;
        top: 0;
        left: 0;
        height: 70px;
        width: 100%;
        line-height: 70px;
        font-size: 25px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.additional-controls {
  float: left;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 100%;
  height: 20%;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  overflow: scroll; }

/*# sourceMappingURL=controls.css.map */
