#map, #map_overlays {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 500px;
  width: calc(100% - 500px); }

#map-overlay {
  position: absolute;
  right: 20px;
  top: 70px;
  width: 200px;
  height: auto; }
  #map-overlay .map-overlay-panel {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    height: auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    overflow: hidden;
    background-image: linear-gradient(rgba(65, 72, 82, 0.8), rgba(54, 62, 72, 0.8)); }
    #map-overlay .map-overlay-panel h2 {
      margin: 0 0 0 0;
      font-size: 20px;
      font-weight: 500;
      padding: 10px 0 10px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      color: white;
      text-align: center; }
    #map-overlay .map-overlay-panel .close {
      float: left;
      width: 100%;
      font-size: 10px;
      text-align: center;
      color: white;
      padding: 5px 0 5px 0; }
    #map-overlay .map-overlay-panel .warning-info {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      overflow: auto;
      height: auto;
      padding: 5px 5px 5px 10px; }
      #map-overlay .map-overlay-panel .warning-info .icon {
        float: left;
        width: 20%; }
        #map-overlay .map-overlay-panel .warning-info .icon img {
          width: 100%;
          height: 100%; }
      #map-overlay .map-overlay-panel .warning-info .text-content {
        float: left;
        width: 77%;
        text-align: left;
        padding-left: 3%; }
        #map-overlay .map-overlay-panel .warning-info .text-content h2 {
          text-align: left;
          border: none;
          font-size: 15px;
          padding: 0;
          margin: 0; }
        #map-overlay .map-overlay-panel .warning-info .text-content p {
          color: #c0c8d2;
          margin: 0;
          font-size: 12px; }
  #map-overlay #layer-controls {
    text-align: center; }
    #map-overlay #layer-controls h2 {
      margin: 0 0 10px 0; }
    #map-overlay #layer-controls button {
      cursor: pointer;
      margin: 0 0 5px 0;
      background: rgba(0, 0, 0, 0.15);
      color: white;
      border: none;
      border-radius: 10px;
      padding: 10px;
      margin: 0 5px 10px 5px;
      outline: none;
      font-size: 13px;
      font-weight: 400;
      width: 90%; }
      #map-overlay #layer-controls button:hover {
        background: rgba(0, 0, 0, 0.3); }
      #map-overlay #layer-controls button:active {
        background: rgba(0, 0, 0, 0.5); }
    #map-overlay #layer-controls .on {
      background: #1bc6e2; }

svg {
  position: absolute;
  width: 100%;
  height: 100%; }
