#top-nav {
  position: absolute;
  width: 100%;
  height: 60px;
  background: #414852; }
  #top-nav #left-section {
    position: relative;
    float: left;
    width: 500px;
    height: 100%; }
    #top-nav #left-section #logo {
      padding-left: 10px;
      float: left;
      margin-top: 15px;
      width: 30px;
      height: 30px; }
    #top-nav #left-section #title {
      float: left;
      height: 30px;
      padding-left: 10px;
      margin-top: 16px;
      font-size: 20px;
      color: #1bc6e2;
      font-weight: 700; }
    #top-nav #left-section #title-center {
      margin: 0 auto 0 auto; }
    #top-nav #left-section #demo {
      background: rgba(255, 255, 255, 0.2);
      color: rgba(255, 255, 255, 0.5);
      font-size: 12px;
      padding: 2px 4px 2px 4px;
      margin-left: 10px;
      float: left;
      margin-top: 18px;
      line-height: 20px;
      height: 20px;
      border-radius: 10px; }
  #top-nav #right-section {
    position: relative;
    float: left;
    width: auto;
    width: auto;
    height: 60px;
    line-height: 60px; }
    #top-nav #right-section button {
      background: #1bc6e2;
      color: white;
      border: none;
      border-radius: 20px;
      padding: 10px;
      margin: 0 5px 0 5px;
      outline: none;
      font-size: 13px;
      font-weight: 600;
      min-width: 200px; }
      #top-nav #right-section button :hover {
        background: rgba(27, 198, 226, 0.5); }
