$top_nav_height:60px;
$controls_width:500px;
$border_radius:20px;
$left_padding:10px;

// Heights
$control_header_height:50px;
$environment_area_height:120px;
$units_area_height:200px;
$searcharea_area_height:265px;
$message_area_height:277px;