$popup_background:rgba(255, 255, 255, 0.5);
$popup_width:100px;
$popup_height:45px;

.mapboxgl-popup-content{
	width:$popup_width;
	height:$popup_height;
	background:$popup_background;
	padding:5px;
}

.mapboxgl-popup-tip{
	 border-top-color:$popup_background;
}

.mapboxgl-popup{

	.left,.right{
		float:left;
		width:50%;
		height:100%;		

		.text, .img{
			float:left;
			width:100%;
			height:50%;
			line-height:$popup_height/2;
			text-align: center;
			font-weight:600;
		}

		.img{			
			font-size:18px;
		}

		.text{
			font-size:13px;
		}

		.severity-7{			
			color:red
		}
		.severity-6{			
			color:orange;
		}
		.severity-5{			
			color:pink;
		}
		.severity-4{			
			color:purple;
		}
		.severity-3{			
			color:orange;
		}
		.severity-2{			
			color:blue;
		}
		.severity-1{			
			color:rgba(0,0,0,.8);
		}
	}	

	/*.left{
		background:red;
	}
	.right{
		background:blue;
	}*/
}