@import 'global_vars';
@import 'global_colors';

#top-nav{
	$line-height:3px;
	
	position:absolute;
	width:100%;
	height:$top_nav_height;
	background:$highlight_color;
	
	#bottom-line{
		position:absolute;
		width:100%;
		height:3px;
		background:rgba(0,0,0,0.2);
		top:$top_nav_height - 3px;
	}
	
	#left-section{
		position:relative;
		float:left;
		width:$controls_width;
		height:100%;
		
		$logosize:30px;
		
		#logo{
			padding-left:10px;
			float:left;
			margin-top:$top_nav_height/2-$logosize/2;
			width:$logosize;
			height:$logosize;
		}
		
		#title{
			float:left;
			height:$logosize;
			padding-left:10px;
			margin-top:$top_nav_height/2-$logosize/2+1;
			font-size:20px;
			color:white;
			font-weight: 300;
		}
		
		#title-center{
			margin:0 auto 0 auto;
		}
		
		#demo{
			$demosize:20px;
			background:rgba(255, 255, 255, .3);
			color:rgba(255, 255, 255, .6);
			font-size:12px;
			padding:2px 4px 2px 4px;
			margin-left:10px;
			float:left;
			margin-top:$top_nav_height/2-($demosize+8px)/2+2px;
			line-height:$demosize;
			height:$demosize;
			border-radius:10px;
		}
	}
	
	#right-section{
		position:relative;
		float:left;
		width:auto;
		width:auto;
		height:$top_nav_height;
		line-height:$top_nav_height;
		
		button{
			cursor: pointer;
			background:rgba(0,0,0, .15);
			color:white;
			border:none;
			border-radius:$border_radius/2;
			padding:10px;
			$margin:5px;
			margin:0 $margin 0 $margin;
			outline:none;
			font-size:13px;
			font-weight: 600;
			min-width:200px;
			&:hover{
				background:rgba(0,0,0, .3);
			}
			&:active{
				background:rgba(0,0,0, .5);
			}
		}
		
	}
	
}